var _div = document.createElement('div');
jQuery.fn.dataTable.ext.type.search.html = function(data) {
  _div.innerHTML = data;
  return _div.textContent ?
    _div.textContent
      .replace(/[AaĂăÂâÀàẰằẦầẢảẲẳẨẩÃãẴẵẪẫÁáẮắẤấẠạẶặẬậ]/g, 'a')
      .replace(/[EeÊêÈèỀềẺẻỂểẼẽỄễÉéẾếẸẹỆệ]/g, 'e')
      .replace(/[IiÌìỈỉĨĩÍíỊị]/g, 'i')
      .replace(/[OoÔôƠơÒòỒồỜờỎỏỔổỞởÕõỖỗỠỡÓóỐốỚớỌọỘộỢợ]/g, 'o')
      .replace(/[UuƯưÙùỪừỦủỬửŨũỮữÚúỨứỤụỰự]/g, 'u')
      .replace(/[DdĐđ]/g, 'd')
      .replace(/[YyỲỳỶỷỸỹÝýỴỵ]/g, 'y') :
    _div.innerText
      .replace(/[AaĂăÂâÀàẰằẦầẢảẲẳẨẩÃãẴẵẪẫÁáẮắẤấẠạẶặẬậ]/g, 'a')
      .replace(/[EeÊêÈèỀềẺẻỂểẼẽỄễÉéẾếẸẹỆệ]/g, 'e')
      .replace(/[IiÌìỈỉĨĩÍíỊị]/g, 'i')
      .replace(/[OoÔôƠơÒòỒồỜờỎỏỔổỞởÕõỖỗỠỡÓóỐốỚớỌọỘộỢợ]/g, 'o')
      .replace(/[UuƯưÙùỪừỦủỬửŨũỮữÚúỨứỤụỰự]/g, 'u')
      .replace(/[DdĐđ]/g, 'd')
      .replace(/[YyỲỳỶỷỸỹÝýỴỵ]/g, 'y');
};

$("#product-table-order").html("<%= j render 'admin/static_pages/products_order_table', products: @products %>");

$(".load-alert").on("click", function(){
  swal({
    title: "Đang Xử Lý",
    timer: 2000,
    showConfirmButton: false,
    type: "success"
  });
});
$(".load-alert-slow").on("click", function(){
  swal({
    title: "Đang Xử Lý",
    timer: 10000,
    showConfirmButton: false,
    type: "success"
  });
});

$("#squarespaceModal").modal("show");

$("#squarespaceModal").on('shown.bs.modal', function (e) {
  swal.close();
  var order = {};

  $(".table-order-name").html("<%= @current_table.first.name %>");



  var oTable = $('#product-table').DataTable({
    "scrollY": "500px",
    "scrollCollapse": true,
    "paging": false,
    "bDestroy": true,
    "columnDefs": [{
      "type": "html",
      "targets": '_all'
    }]
  });

  $('#product-table_filter input[type=search]').keyup( function () {
    oTable.search(
      jQuery.fn.DataTable.ext.type.search.html(this.value)
    ).draw();
  });

  function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
  }


  <% if @product_order_of_table.present? %>
    <% @product_order_of_table.each do |item_prod| %>
      var idTextOrder = <%= item_prod.product.id %>;

      var nameTextOrder = "<%= item_prod.product.name %>";
      var quantityTextOrder = "<%= item_prod.quantity %>";
      var priceTextOrder = "<%= item_prod.product.price %>";
      var priceTextOrderConvert = numberWithCommas(priceTextOrder);
      var priceTotalTextOrderConvert = numberWithCommas(+priceTextOrder * +quantityTextOrder);
      console.log(priceTextOrder);
      console.log(priceTextOrderConvert);
      var productID = ".product-" + "<%= item_prod.product.id %>";
      var successClass = ".success-" + idTextOrder;

      $(productID).val("<%= item_prod.quantity %>");
      $(productID).css("color", "red");
      $(successClass).css("background-color", "indianred");
      $(".product-show-list").append("<li class='product-show-item product-show-" + idTextOrder +"'><div class='break-all-word item-product item-col-1'><span class='cl-name-order name-show-" + idTextOrder +"'>" +nameTextOrder +"</span></div><div class='item-product item-col-2'><span class='cl-price-order price-show-" + idTextOrder +"'>" +priceTextOrderConvert +"</span></div><div class='item-product item-col-3'><span class='cl-num-order number-show-" + idTextOrder +" number-product'>"+ quantityTextOrder + "</span></div><div class='item-product item-col-4'><span class='js-sum-order-build cl-money-order money-total-show-" + idTextOrder +"'>" + priceTotalTextOrderConvert +"</span></div></li>");
    <% end %>

    var subtotal = 0;
    $('.js-sum-order-build').each(function() {
        var price = $(this).text();
        subtotal += +price.replace(",","");
        console.log(subtotal);
    });
    $(".js-sum-build").text(numberWithCommas(subtotal));
  <% end %>

  $(".btn-plus").on("click", function(){
    var idTextOrder = $(this).data("id");
    var productID = ".product-" + idTextOrder;

    var nameTextOrder = $(this).data("name");
    var priceTextOrder = $(this).data("price");
    var priceTextOrderConvert = numberWithCommas(priceTextOrder);

    var successClass = ".success-" + idTextOrder
    var valueTextOrder = $(productID).val();
    if (valueTextOrder == "") {
      $(productID).val("1");
      $(productID).css("color", "red");
      $(successClass).css("background-color", "indianred");
    } else if (valueTextOrder != null){
      $(productID).val(parseInt($(productID).val()) + 1);
      $(successClass).css("background-color", "indianred");
    }

    var classProductShow = $(".product-show-" + idTextOrder)
    var classNumberShow = $(".number-show-" + idTextOrder)
    var classTotalMoneyShow = $(".money-total-show-" + idTextOrder)
    if (classProductShow.length == 0) {
      $(".product-show-list").append("<li class='product-show-item product-show-" + idTextOrder +"'><div class='break-all-word item-product item-col-1'><span class='cl-name-order name-show-" + idTextOrder +"'>" +nameTextOrder +"</span></div><div class='item-product item-col-2'><span class='cl-price-order price-show-" + idTextOrder +"'>" +priceTextOrderConvert +"</span></div><div class='item-product item-col-3'><span class='cl-num-order number-show-" + idTextOrder +" number-product'>1</span></div><div class='item-product item-col-4'><span class='js-sum-order-build cl-money-order money-total-show-" + idTextOrder +"'>" + priceTextOrderConvert +"</span></div></li>");
    } else {
      $(classNumberShow).text(+$(classNumberShow).text() +1);
    }

    $(classTotalMoneyShow).text(numberWithCommas(+priceTextOrder * $(classNumberShow).text()));

    // Tính Tổng Khi Cộng Trừ Sản Phẩm
    var subtotal = 0;
    $('.js-sum-order-build').each(function() {
        var price = $(this).text();
        subtotal += +price.replace(",","");
        console.log(subtotal);
    });
    $(".js-sum-build").text(numberWithCommas(subtotal));
  });

  $(".btn-minus").on("click", function(){
    var idTextOrder = $(this).data("id");
    var productID = ".product-" + idTextOrder

    var nameTextOrder = $(this).data("name");
    var priceTextOrder = $(this).data("price");

    var successClass = ".success-" + idTextOrder
    var valueTextOrder = $(productID).val();
    if (valueTextOrder == "") {
      $(productID).val("");
      $(successClass).css("background-color", "#dff0d8");
    } else if (valueTextOrder != null && valueTextOrder != 1){
      $(productID).val(parseInt($(productID).val()) - 1);
    } else if (valueTextOrder == 1){
      $(productID).val("");
      $(successClass).css("background-color", "#dff0d8");
    }

    var classProductShow = $(".product-show-" + idTextOrder)
    var classNumberShow = $(".number-show-" + idTextOrder)

    if (classNumberShow.text() == 1) {
      $(classProductShow).remove();
    } else {
      $(classNumberShow).text(+$(classNumberShow).text() - 1);
    }

    var classTotalMoneyShow = $(".money-total-show-" + idTextOrder)
    $(classTotalMoneyShow).text(+priceTextOrder * $(classNumberShow).text());

    // Tính Tổng Khi Cộng Trừ Sản Phẩm
    var subtotal = 0;
    $('.js-sum-order-build').each(function() {
        var price = $(this).text();
        subtotal += +price.replace(",","");
        console.log(subtotal);
    });
    $(".js-sum-build").text(numberWithCommas(subtotal));
  });


  var currentdate = new Date();
  var datetime = currentdate.getHours() + "h" + currentdate.getMinutes() + "p Ngày:" + currentdate.getDate() + "/" + (currentdate.getMonth()+1) + "/" + currentdate.getFullYear() ;
  $(".time-build").html(datetime);
  $(".table-curent-build").html("<%= @current_table.first.name %>");


  $("#printKitten").click(function() {
    $("#product-build").printThis();
  });



  $("#saveInfoBuild").on("click", function(){
    // Đưa list sản phẩm vào hash
    $('.number-product').each(function() {
      var idTextOrder = $(this)[0].className.match(/\d+/)[0];
      var valueOrder = $(this).text();
      order[idTextOrder] = valueOrder
      console.log(order);
    });

    // Submit dử liệu khi bấm lưu
    var idTable = "<%= @current_table.first.id %>"
    var url = "<%= admin_ajax_products_orders_path %>"
    $.ajax({
      type: "POST",
      url: url,
      dataType: "script",
      data: {
        id_table: idTable,
        order: order
      }
    });
  });

  $("#saveCloseOrder").on("click", function(){
    var urlSave = "<%= admin_ajax_products_order_path(@current_table.first.id) %>"
    $.ajax({
      type: "PATCH",
      url: urlSave,
      dataType: "script",
      data: {
      }
    });
  });
});
