<div class="container form-horizontal">
  <div class="clearfix"></div>
  <br>
  <br>
  <br>
  <br>
  <div class="row">
    <%= form_for [:admin, @product] do |f| %>
      <div class="col-md-12">
        <div class="form-group">
          <%= f.label :code,  "Mã sản phẩm",
            class: "col-md-3 control-label field-compulsory-before" %>
          <div class="col-md-5">
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-user"></i>
              </div>
              <%= f.text_field :code, class: "form-control",placeholder: "B0001" %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :name,  "Tên sản phẩm",
            class: "col-md-3 control-label field-compulsory-before" %>
          <div class="col-md-5">
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-user"></i>
              </div>
              <%= f.text_field :name, class: "form-control",placeholder: "Tên" %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :category_id,  "Loại",
            class: "col-md-3 control-label field-compulsory-before" %>
          <div class="col-md-5">
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-user"></i>
              </div>
              <%= f.select :category_id,
                @categories.collect { |category| [ category.name, category.id ] },
                {}, {class: "form-control "} %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :description,  "Mô tả",
            class: "col-md-3 control-label field-compulsory-before" %>
          <div class="col-md-5">
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-user"></i>
              </div>
              <%= f.text_area :description, class: "form-control",placeholder: "..." %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :price, "Giá tiền",
            class: "col-md-3 control-label field-compulsory-before" %>
          <div class="col-md-5">
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-user"></i>
              </div>
              <%= f.number_field :price, min: 0, class: "form-control",placeholder: "20000" %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :unit,  "Đơn vị",
            class: "col-md-3 control-label field-compulsory-before" %>
          <div class="col-md-5">
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-user"></i>
              </div>
              <%= f.text_field :unit, class: "form-control",placeholder: "ly, lon,..." %>
            </div>
          </div>
        </div>
        <div class="fix-clear form-group row">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-5">
            <%= f.submit yield(:button_text), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
