<!-- <center>
<table>
  <tr>
    <td>Mã sản phẩm </td>
    <td>Tên sản phẩm </td>
    <td>Mô tả</td>
    <td>Giá</td>
    <td>Đơn vị</td>
    <td>Hành động</td>
  </tr>
  <% @products.each do |product| %>
    <tr>
      <td><%= product.code %></td>
      <td><%= product.name %></td>
      <td><%= product.description %></td>
      <td><%= product.price %></td>
      <td><%= product.unit %></td>
      <td>
        <%= link_to edit_admin_product_path(product), class: "btn btn-warning" do %>
          <i class="fa fa-pencil"></i>
        <% end %>

        <%= link_to admin_product_path(product),
          method: :delete, class: "btn btn-danger", data: {confirm: "Bạn chắc chắn muốn xóa ?"} do %>
          <i class="fa fa-trash"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
<center><%= will_paginate @products %></center>
</center> -->


<section class="content-header menu-header-button">
  <%= link_to new_admin_product_path, class: "btn icon-btn btn-danger" do %>
    <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-danger"></span>
    Thêm Mới
  <% end %>

  <%= link_to admin_root_path, class: "btn icon-btn btn-warning" do %>
    <span class="glyphicon btn-glyphicon glyphicon-circle-arrow-left img-circle text-warning"></span>
    Trở Về
  <% end %>

  <%= link_to admin_root_path, class: "btn icon-btn btn-primary" do %>
    <span class="glyphicon btn-glyphicon glyphicon-share img-circle text-primary"></span>
    Trang Quản Lý
  <% end %>

  <%= link_to "", class: "btn icon-btn btn-success" do %>
    <span class="glyphicon btn-glyphicon glyphicon-open-file img-circle text-success"></span>
    Nhập Từ Excel
  <% end %>

  <%= link_to "", class: "btn icon-btn btn-info" do %>
    <span class="glyphicon btn-glyphicon glyphicon-paste img-circle text-info"></span>
    Xuất Excel
  <% end %>
</section>


<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Sản Phẩm</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool btn-filter">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
        <div class="box-body table-responsive no-padding min-height-600">
          <%= render "product_form_search", search: @search, form: @form %>
          <div class="notices_result">
            <% if @products.any? %>
              <table class="table table-hover table-striped">
                <thead class="thead-inverse">
                  <th><%= sort_link @search, :code, "Mã Sản Phẩm" %></th>
                  <th><%= sort_link @search, :name, "Tên Sản Phẩm" %></th>
                  <th><%= sort_link @search, :category_id, "Loại Sản Phẩm" %></th>
                  <th><%= sort_link @search, :description, "Mô Tả" %></th>
                  <th><%= sort_link @search, :price, "Giá" %></th>
                  <th><%= sort_link @search, :unit, "Đơn Vị" %></th>
                  <th class="tac-vu">Tác Vụ</th>
                </thead>
                <tbody>
                  <%= render @products %>
                </tbody>
              </table>
              <div class="pagination_center">
                <%= will_paginate @products %>
              </div>
            <% else %>
              <h3 class="text-center">Không có bàn nào.</h3>
              <div class="col-xs-12 text-center margin-bottom-30">
                <%= link_to "Trở lại", admin_products_path, class: "btn btn-default bg-red" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= content_for :specific_page_js do %>
  <script type="text/javascript">
    <%= render "product_form_search.js" %>
  </script>
<% end %>
