<section class="content-header">
  <h1>
    SƠ ĐỒ BÀN
    <small>Quản Lý Và In Hóa Đơn</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Dashboard</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <!-- Small boxes (Stat box) -->
  <div class="row">
    <div class="col-lg-2 col-xs-6">
      <%= image_tag "icon/tr.svg", class: "online", alt: "User Image", height: "100px" %>
    </div>
    <div class="col-lg-2 col-xs-6">
      <%= image_tag "icon/tr.svg", class: "online", alt: "User Image", height: "100px" %>
    </div>
    <div class="col-lg-2 col-xs-6">
      <%= image_tag "icon/tr.svg", class: "online", alt: "User Image", height: "100px" %>
    </div>
    <div class="col-lg-2 col-xs-6">
      <%= image_tag "icon/tr.svg", class: "online", alt: "User Image", height: "100px" %>
    </div>
  </div>
  <!-- /.row -->
  <!-- Main row -->
  <div class="row">
    <!-- Left col -->
    <section class="col-lg-8 connectedSortable">

      <div class="box box-primary">
        <div class="box-header with-border">
          <!-- tools box -->
          <div class="pull-right box-tools">
            <button type="button" class="btn btn-primary btn-sm daterange pull-right" data-toggle="tooltip" title="Date range">
              <i class="fa fa-calendar"></i></button>
            <button type="button" class="btn btn-primary btn-sm pull-right" data-widget="collapse" data-toggle="tooltip" title="Collapse" style="margin-right: 5px;">
              <i class="fa fa-minus"></i></button>
          </div>
          <i class="fa fa-map-marker"></i>
          <h3 class="box-title">
            Sân Trái
          </h3>
        </div>
        <div class="box-body">
          <div id="table-list-front" style="height: 200px; width: 100%;">
            <%= render collection: @table_front, partial: "admin/static_pages/table_front" %>

          </div>
        </div>
      </div>

      <div class="box box-primary">
        <div class="box-header with-border">
          <div class="pull-right box-tools">
            <button type="button" class="btn btn-primary btn-sm daterange pull-right" data-toggle="tooltip" title="Date range">
              <i class="fa fa-calendar"></i></button>
            <button type="button" class="btn btn-primary btn-sm pull-right" data-widget="collapse" data-toggle="tooltip" title="Collapse" style="margin-right: 5px;">
              <i class="fa fa-minus"></i></button>
          </div>
          <i class="fa fa-map-marker"></i>
          <h3 class="box-title">
            Trong Nhà
          </h3>
        </div>
        <div class="box-body">
          <div id="table-list-home" style="height: 300px; width: 100%;">

            <%= render collection: @table_home, partial: "admin/static_pages/table_home" %>

          </div>
        </div>
      </div>
    </section>

    <section class="col-lg-3 connectedSortable">
      <div class="box box-primary">
        <div class="box-header with-border">
          <div class="pull-right box-tools">
            <button type="button" class="btn btn-primary btn-sm daterange pull-right" data-toggle="tooltip" title="Date range">
              <i class="fa fa-calendar"></i></button>
            <button type="button" class="btn btn-primary btn-sm pull-right" data-widget="collapse" data-toggle="tooltip" title="Collapse" style="margin-right: 5px;">
              <i class="fa fa-minus"></i></button>
          </div>
          <i class="fa fa-map-marker"></i>
          <h3 class="box-title">
            Sân Trái
          </h3>
        </div>
        <div class="box-body">
          <div id="table-list-out-left" style="height: 550px; width: 100%;">
            <%= render collection: @table_out_left, partial: "admin/static_pages/table_out_left" %>

          </div>
        </div>
      </div>
    </section>

    <section class="col-lg-1 connectedSortable">
      <%= image_tag "icon/tr.svg", class: "online", alt: "User Image", height: "100px" %>
      <div id="world-map" style="height: 200px; width: 100%;"></div>
      <%= image_tag "icon/tr.svg", class: "online", alt: "User Image", height: "100px" %>
    </section>
  </div>
</section>


<div id="product-table-order">
  <!-- <%= render 'admin/static_pages/products_order_table', products: @products %> -->
</div>


<%= content_for :specific_page_js do %>
  <script type="text/javascript">
    <%= render partial: "admin/static_pages/static_pages.js" %>
  </script>
<% end %>
